@model Stb.Platform.Models.WorkerViewModels.WorkerViewModel

@{
    ViewData["Title"] = "删除工人";
}

<h2>@ViewData["Title"]</h2>
<br />
<h4 class="text-danger text-center">确定删除工人？</h4>
<div>
    <h4>账号信息</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Enabled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Enabled)
        </dd>
    </dl>
    <h4>基本资料</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd>
            @if (Model.Enabled)
            {<span>男</span>}
            else
            {<span>女</span>}
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdCardNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdCardNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Birthday)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NativePlace)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NativePlace)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HealthStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HealthStatus)
        </dd>
    </dl>
    <h4>专业技能</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IsHead)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsHead)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HeaderName)
        </dt>
        <dd>
            <a asp-action="Details" asp-route-id="@Model.HeaderId">
                @Html.DisplayFor(model => model.HeaderName)
            </a>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JobClasses)
        </dt>
        <dd>
            @foreach (var jobClass in Model.JobClasses)
            {
                @Html.DisplayFor(model => jobClass.JobCategoryName)
                <span>　</span>
                @Html.DisplayFor(model => jobClass.JobClassName)
                <span>　</span>
                @if (jobClass.Grade == 0)
                { <span>标准工</span>}
                else if (jobClass.Grade == 1)
                { <span>大工</span>}
                else
                { <span>小工</span>}
                <br />
            }
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Districts)
        </dt>
        <dd>
            @foreach (var district in Model.Districts)
            {
                @Html.DisplayFor(model => district.ProvinceName)
                <span>　</span>
                @Html.DisplayFor(model => district.CityName)
                <span>　</span>
                @Html.DisplayFor(model => district.DistrictName)
                <br />
            }
        </dd>
    </dl>
    <h4>社交账号</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QQ)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QQ)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Wechat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Wechat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Alipay)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Alipay)
        </dd>
    </dl>

    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="删除" class="btn btn-default" /> |
            <a asp-action="Index">返回工人列表</a>
        </div>
    </form>
</div>
