@model Stb.Platform.Models.ContractorViewModels.ContractorViewModel

@{
    ViewData["Title"] = "承包商详情";
}

<h2>@ViewData["Title"]</h2>
<br />
<div>
    <h4>承包商信息</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Contractor.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contractor.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contractor.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contractor.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contractor.Enabled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contractor.Enabled)
        </dd>
    </dl>
    <h4>负责人信息</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HeadStaff.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HeadStaff.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HeadStaff.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HeadStaff.Phone)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Contractor.Id">修改</a> |
    <a asp-action="Index">返回承包商列表</a>
</div>
