@model  Stb.Data.Models.OrderEvaluate_Customer

@{
    ViewData["Title"] = "工单评价";
}

<br />
<form asp-action="SaveEvaluate">
    <input type="hidden" asp-for="@Model.OrderId" value="@ViewBag.OrderId" />
    <table class="table table-responsive table-bordered">
        <thead>
            <tr>
                <th colspan="3" class="h2 text-center">工单评价表（客服）</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="7" style="max-width:50px;min-width:50px;vertical-align:middle" class="text-center">客户方评价</td>
                <td rowspan="4" style="max-width:50px;min-width:50px;vertical-align:middle" class="text-center">客户对工单质量的评价</td>
                <td class="col-md-12">
                    @Html.DisplayNameFor(model => model.WorkQuality)
                    <label class="radio-inline col-xs-offset-1">
                        <input type="radio" asp-for="@Model.WorkQuality" value="0"> 优秀
                    </label>
                    <label class="radio-inline">
                        <input type="radio" asp-for="@Model.WorkQuality" value="1"> 合格
                    </label>
                    <label class="radio-inline">
                        <input type="radio" asp-for="@Model.WorkQuality" value="2"> 不合格
                    </label>
                    <div>
                        <span asp-validation-for="@Model.WorkQuality" class="text-danger"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.WorkEfficiency)
                    <label class="radio-inline col-xs-offset-1">
                        <input type="radio" asp-for="@Model.WorkEfficiency" value="0"> 优秀
                    </label>
                    <label class="radio-inline">
                        <input type="radio" asp-for="@Model.WorkEfficiency" value="1"> 合格
                    </label>
                    <label class="radio-inline">
                        <input type="radio" asp-for="@Model.WorkEfficiency" value="2"> 不合格
                    </label>
                    <div>
                        <span asp-validation-for="@Model.WorkEfficiency" class="text-danger"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.WorkAttitude)
                    <label class="radio-inline col-xs-offset-1">
                        <input type="radio" asp-for="@Model.WorkAttitude" value="0"> 优秀
                    </label>
                    <label class="radio-inline">
                        <input type="radio" asp-for="@Model.WorkAttitude" value="1"> 合格
                    </label>
                    <label class="radio-inline">
                        <input type="radio" asp-for="@Model.WorkAttitude" value="2"> 不合格
                    </label>
                    <div>
                        <span asp-validation-for="@Model.WorkAttitude" class="text-danger"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.LeaderLeaveCard)
                    <label class="radio-inline col-xs-offset-1">
                        <input type="radio" asp-for="@Model.LeaderLeaveCard" value="0"> 已留下
                    </label>
                    <label class="radio-inline">
                        <input type="radio" asp-for="@Model.LeaderLeaveCard" value="1"> 没留下
                    </label>
                    <div>
                        <span asp-validation-for="@Model.LeaderLeaveCard" class="text-danger"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td rowspan="2" style="vertical-align:middle" class="text-center">
                    客户对班长协调能力的评价
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.LeaderCanCooperate)
                    <label class="radio-inline col-xs-offset-1">
                        <input type="radio" asp-for="@Model.LeaderCanCooperate" value="0"> 满意
                    </label>
                    <label class="radio-inline">
                        <input type="radio" asp-for="@Model.LeaderCanCooperate" value="1"> 不满意
                    </label>
                    <div>
                        <span asp-validation-for="@Model.LeaderCanCooperate" class="text-danger"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.LeaderDoReport)
                    <label class="radio-inline col-xs-offset-1">
                        <input type="radio" asp-for="@Model.LeaderDoReport" value="0"> 满意
                    </label>
                    <label class="radio-inline">
                        <input type="radio" asp-for="@Model.LeaderDoReport" value="1"> 不满意
                    </label>
                    <div>
                        <span asp-validation-for="@Model.LeaderDoReport" class="text-danger"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td rowspan="1" style="vertical-align:middle" class="text-center">
                    客户对排长协调能力的评价
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.HaveCase)
                    <label class="radio-inline col-xs-offset-1">
                        <input type="radio" asp-for="@Model.HaveCase" value="0"> 存在
                    </label>
                    <label class="radio-inline">
                        <input type="radio" asp-for="@Model.HaveCase" value="1"> 不存在
                    </label>
                    <div>
                        <span asp-validation-for="@Model.HaveCase" class="text-danger"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="3" class="text-right">
                    @if (Model == null)
                    {
                        <input type="submit" value="保存评价表" class="form-control btn-primary" />
                    }
                    else
                    {
                        <span>评价人：</span>@Html.DisplayFor(model => model.EvaluateUser.Name)
                        <span>&nbsp;&nbsp;</span>
                        @Html.DisplayFor(model => model.Time)
                    }
                </td>
            </tr>
        </tbody>
    </table>
</form>

<div>
    <a asp-action="Details" asp-route-id="@ViewBag.OrderId">返回</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
