@model IEnumerable<Stb.Platform.Models.WorkerViewModels.WorkerIndexViewModel>

@{
    ViewData["Title"] = "工人管理";
}

<h2>@ViewData["Title"]</h2>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                身份
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeaderName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @if (item.Gender)
                    {<span>男</span>}
                    else
                    {<span>女</span>}
                </td>
                <td>
                    @if (item.IsHeader)
                    {<span>班长</span>}
                    else if (item.IsCandidate)
                    {<span>候选班长</span>}
                    else
                    { <span>工人</span>}
                </td>
                <td>
                    @if (item.IsHeader)
                    {
                        <span>-</span>
                    }
                    else if (item.HeaderId != null)
                    {
                        <a asp-action="Details" asp-route-id="@item.HeaderId">
                            @Html.DisplayFor(modelItem => item.HeaderName)
                        </a>
                    }
                    else
                    {
                        <span class="text-warning">没有班长</span>
                    }
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">详情</a>
                    @if (!item.IsHeader && !item.IsCandidate)
                    {
                        <span> |</span>
                        <a asp-action="Interview" asp-route-id="@item.Id">面试</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
@await Component.InvokeAsync("Pagination", new { Action = "Index", Page = ViewBag.Page, TotalPage = ViewBag.TotalPage })
