@model IEnumerable<Stb.Data.Models.JobMeasurement>

@{
    ViewData["Title"] = "技能设置";
    JobClass jobClass = ViewData["JobClass"] as JobClass;
}

<h2>技能设置 - 计量项目</h2>
<br />
<h4 class="text-center">所属工作种类：@jobClass.JobCategory.Name - @jobClass.Name</h4>
<br />
<p>
    <a asp-action="Create" asp-route-id="@jobClass.Id">新增计量项目</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unit)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">修改</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">删除</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <a asp-controller="JobClass" asp-action="Index" asp-route-id="@jobClass.JobCategoryId">返回工作种类列表</a>
</div>