@model IEnumerable<Stb.Data.Models.JobClass>

@{
    ViewData["Title"] = "技能设置";
    JobCategory category = ViewData["Category"] as JobCategory;
}

<h2>技能设置 - 工作种类</h2>
<br />
<h4 class="text-center">所属工作门类：@category.Name</h4>
<br />
<p>
    <a asp-action="Create" asp-route-id="@category.Id">新增工作种类</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">修改</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">删除</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                    <a asp-controller="JobMeasurement" asp-action="Index" asp-route-id="@item.Id">计量项目</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-controller="JobCategory" asp-action="Index">返回工作门类列表</a>
</div>