@model Stb.Platform.Models.OrderViewModels.OrderViewModel

@{
    ViewData["Title"] = "删除工单";
}

<h2>@ViewData["Title"]</h2>
<bt></bt>
<h4 class="text-danger text-center">确认删除工单？</h4>
<div>
    <h4>客户信息</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjectName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContractorName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContractorName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContractorStaffName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContractorStaffName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContractorStaffPhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContractorStaffPhone)
        </dd>
    </dl>
    <h4>工程概况</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            <pre>@Html.DisplayFor(model => model.Description)</pre>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WorkerNeeded)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorkerNeeded)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExpectedStartTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExpectedStartTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExpectedDays)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExpectedDays)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContactDeadline)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactDeadline)
        </dd>
    </dl>
    <h4>施工地点</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            施工地区
        </dt>
        <dd>
            @if (Model.District != null)
            {
                @Html.DisplayFor(model => model.District.ProvinceName)
                <span> </span>
                @Html.DisplayFor(model => model.District.CityName)
                <span> </span>
                @Html.DisplayFor(model => model.District.DistrictName)
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WorkAddress)
        </dt>
        <dd>
            <pre>@Html.DisplayFor(model => model.WorkAddress)</pre>
            @if (Model.WorkLocation != null)
            {
                <img alt="img" src="@($"http://restapi.amap.com/v3/staticmap?location={Model.WorkLocation}&zoom=12&size=300*200&markers=mid,,:{Model.WorkLocation}&key=1ff97f3d9068e5e12e21f3c34480096a")" />
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WorkerNeeded)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorkerNeeded)
        </dd>
    </dl>
    <h4>施工情况</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlatoonName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlatoonName)
        </dd>
    </dl>

    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="删除" class="btn btn-default" /> |
            <a asp-action="Index">返回</a>
        </div>
    </form>
</div>
