@model Stb.Data.Models.ContractorStaff

@{
    ViewData["Title"] = "删除员工";
}

<h2>@ViewData["Title"]  -  @Model.Contractor.Name</h2>
<br />
<h4 class="text-danger text-center">确认删除承包商员工？</h4>
<div>
    <h4>员工资料</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
    </dl>

    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="删除" class="btn btn-default" /> |
            <a asp-action="Index" asp-route-id="@Model.ContractorId">返回</a>
        </div>
    </form>
</div>
