@model IEnumerable<Stb.Platform.Models.OrderViewModels.OrderIndexViewModel>

@{
    ViewData["Title"] = "我的工单";
}

<h2>@ViewData["Title"]</h2>

<br>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractorStaffName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlatoonName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContractorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContractorStaffName)
                    <br />
                    @Html.DisplayFor(modelItem => item.ContractorStaffPhone)
                </td>
                <td>
                    <a asp-action="Details" asp-controller="Platoon" asp-route-id="@item.PlatoonId" target="_blank" asp-route-blank="true">
                        @Html.DisplayFor(modelItem => item.PlatoonName)
                    </a>
                </td>
                <td>
                    @if (item.State == 0)
                    {
                        <span>准备状态</span>
                    }
                    else if (item.State == 1)
                    {
                        <span>施工状态</span>
                    }
                    else if (item.State == 2)
                    {
                        <span>完成</span>
                    }
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">工单信息</a>
                    @if (item.State == 2)
                    {
                        <span> |</span>
                        @if (item.IsQualityControlEvaluated)
                        {
                            <a asp-action="Evaluate" asp-route-id="@item.Id" class="btn-success">评价</a>
                        }
                        else
                        {
                            <a asp-action="Evaluate" asp-route-id="@item.Id">评价</a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
@await Component.InvokeAsync("Pagination", new { Action = "Index", Page = ViewBag.Page, TotalPage = ViewBag.TotalPage })
